@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
* {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
		width: 1900px;
}
header {
	display: block;
	height: 750px;
	background: url(../images/header.jpg) no-repeat;
	background-color: black;
}
.header	{
	box-sizing: border-box;
	width: 1170px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	align-content: center;
}
.logo {
	box-sizing: border-box;
	background: url(../images/ActiveBox.png) no-repeat;
	width: 50%;
	height: 100px;
	background-position: left;
	display: flex;
}
.menu	> a {
	box-sizing: border-box;
	font-size: 1.3rem;
	font-family: Raleway, sans;
	font-weight: 700;
	opacity: 0.75;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
.menu {
	box-sizing: border-box;
	width: 50%;
	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.info	{
	padding-top: 107px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	flex-direction: column;
	text-transform: uppercase;
	align-items: center;
	align-content: center;
	justify-content: center;
	color: white;	
	margin: auto;
	margin: auto;

}
.info	h1 {
	font-family: Raleway, sans;
	font-size: 6.5rem;
	color: white;
	text-transform: uppercase;
	width: 47%;
	text-align:center;
}
.info p {
		margin-top: 0;
	font-family: open sans, sans;
	font-weight: 700;
	text-align: center;
	font-size: 2.2rem;
	opacity: 0.75;
	text-transform: none;
	width: 830px;
}
.info a {
	width: 200px;
	height: 45px;
	font-weight: 600;
	font-family: raleway, sans;
	background-color: #e84545;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 2px;
	color: white;
	vertical-align: middle;
	margin: 60px;
	font-size: 1.3rem;
	display: flex;
    justify-content: center;
    align-items: center;
}
.main	{
	box-sizing: border-box;
	width: 1170px;
	margin: 100px auto 0 auto;
	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	align-content: center;
	padding: 25px 0;
	box-sizing: border-box;
}
.main > div {
	background: url(../images/icon1.png) no-repeat;
	background-position: center;
	background-position: top;
	box-sizing: border-box;
	width: 370px;
}
.main div+div {
	margin:0 0 60px 0;
}
.main div p {
	font-family: raleway, sans;
	font-size: 1.4rem;
	color: #6c7279;
/*	margin-top: 80px;*/
	text-align: center;
	padding: 0 35px;
}
.main div h1 {
	padding-top: 65px;
	font-family: raleway, sans;
	font-size: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
	text-align: center;
}
.main div:nth-child(1) {
	background: url(../images/icon1.png) no-repeat;
	background-position: center;
	background-position: top;
}
.main div:nth-child(2) {
	background: url(../images/icon2.png) no-repeat;
	background-position: center;
	background-position: top;
}
.main div:nth-child(3) {
	background: url(../images/icon3.png) no-repeat;
	background-position: center;
	background-position: top;
}
.main div:nth-child(4) {
	background: url(../images/icon4.png) no-repeat;
	background-position: center;
	background-position: top;
}
.main div:nth-child(5) {
	background: url(../images/icon5.png) no-repeat;
	background-position: center;
	background-position: top;
}
.main div:nth-child(6) {
	background: url(../images/icon6.png) no-repeat;
	background-position: center;
	background-position: top;
}
.works {
	width: 100%;
	height: 700px;
	box-sizing: border-box;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: white;
  -webkit-flex-flow: row wrap;
}
.works div {
	background-position: center;
	border: 1px white solid;
	width: 25%;
	height: 50%;
	background-size: cover;	
	box-sizing: border-box;
}
.works div:nth-child(1) {
	background: url(../images/work1.jpg) no-repeat;
}
.works div:nth-child(2) {
	background: url(../images/work2.jpg) no-repeat;
}
.works div:nth-child(3) {
	background: url(../images/work3.jpg) no-repeat;

}
.works div:nth-child(4) {
	background: url(../images/work4.jpg) no-repeat;
}
.works div:nth-child(5) {
	background: url(../images/work5.jpg) no-repeat;
}
.works div:nth-child(6) {
	background: url(../images/work6.jpg) no-repeat;
}
.works div:nth-child(7) {
	background: url(../images/work7.jpg) no-repeat;
}
.works div:nth-child(8) {
	background: url(../images/work8.jpg) no-repeat;
}
.works h2, .works p {
	font-family: Raleway, Open Sans;
  font-size: 1.4rem;
	margin: 0;
	padding: 5px;
}
.works p {
 		color: rgba(255,255,255,.8);

}
.works h2 {
	font-weight: 700;
	text-transform: uppercase;
}
.hover-div {
	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}


.about	{
	display: flex;
	box-sizing: border-box;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  background-color: rgb(32%, 30%, 54%);
  justify-content: center;
  align-content: center;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px;
}
.about div {
	padding:50px 15px;
	width: 20%;
}
.about div:first-child {
	box-sizing: border-box;
	padding:50px 100px;
}
.about h2 {
	font-size: 1.4rem;
	font-weight: 700;
	font-family: raleway, open sans;
	text-transform: uppercase;
	display: block;
}
.about	p {
	font-size: 1.4rem;
	font-family: raleway, open sans;
	color: rgba(255,255,255,.5);
	padding: 0 15px;
}
footer .about .share {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#h-share {
	width: 100%;
	padding: 0;
	margin: 0;
}
.about .share	div {
	width: 14%;
	padding: 0;
	height: 60px;
	box-sizing: border-box;
}
.share	.facebook {
	background: url(../images/share1.png) no-repeat;
	background-position: center;
}
.share	.twitter {
	background: url(../images/share2.png) no-repeat;
	background-position: center;	
}
.share	.vimeo {
	background: url(../images/share3.png) no-repeat;
	background-position: center;
}
.footer	{
	background-color: #3a3e64;
	display: flex;
	height: 94px;
	margin: 0;
	box-sizing: border-box;
	justify-content: center;
}
.footer p {
	display: block;
	width: 370px;
	font-family: raleway, open sans;
	font-size: 1.4rem;
	margin: 0;
	color: rgba(255,255,255,.5);
	text-align: center;
	padding: 20px;
}
.footer p span {
	color: white;
	font-family: raleway, open sans;
	font-size: 1.4rem;

}